body{
	background-color:#EEEEEE;
	
}

.my-navbar{
	
    background-color: #000033;
    
}

button.navbar-toggle{
	background-color: #EEEEEE;
		
}

.frontImage{
	width:45%;
	height:35%;
	align:center;
	
}

span.icon-bar{
	
	background-color: #000033;
}

.active{
	background-color: #EEEEEE;
	color:#286090;
	
}

.active a{
	
	color:#286090;
	
}



a.navbar-brand{	
	color: white;
}



li a{
	color: white;	
}


#w2 {	
	background-color: #000033;
}

#w2 li a{
	color:#ffffff;
	background-color:#000033;
	
}

#w2 li.active a{
	background-color:#EEEEEE;
	color:#286090;
	
}

#w2 li a:hover{
	color:#286090;
	background-color:#EEEEEE;	
}

#w3 {
	background-color:#000033;
	}

#w3 li a{
	color:#ffffff;
	background-color:#000033;
	
}

#w3 li.active a{
	background-color:#EEEEEE;
	color:#286090;
	
}

#w3 li a:hover{
	color:#286090;
	background-color:#EEEEEE;	
}

#w4 {

	background-color: #000033;
}

#w4 li a{
	color:#ffffff;
	background-color:#000033;
	
}

#w4 li.active a{
	background-color:#EEEEEE;
	color:#286090;
	
}

#w4 li a:hover{
	color:#286090;
	background-color:#EEEEEE;	
}

#w5 {

	background-color: #000033;
}

#w5 li a{
	color:#ffffff;
	background-color:#000033;
	
}

#w5 li.active a{
	background-color:#EEEEEE;
	color:#286090;
	
}

#w5 li a:hover{
	color:#286090;
	background-color:#EEEEEE;	
}



button.btn.btn-primary{
	color: #ffffff;
	background-color: #000033;
}

#pageListTable td:hover{
	background-color: #EEEEEE;
	
}

#pageSelect {
	color: #2E2E2E;
	}



#containerNegro{
	background-color:black;
	 width:16%; 
	 position: absolute; 
	 top: 50px; 
	 left:0%;
	 height: 95%;
	
}

#containerBiblio{ 
	background-color:#EEEEEE;  
	position: absolute; 
	top:304px; 
	left:0%; 
	height: 100%; 
	width:100%;	
}
#titlePageBiblio{
	
	background-color:#2E2E2E; 
	height: 5%;
}

#contenedorPages{
	background-color:#EEEEEE; 
	position: absolute; 
	top:5px;
	left:0px;
	height: 300px; 
	width:100%;
	
}

#pageListDiv{
	
	position: absolute;
	left:2%; 
	top: 12%; 	
	height: 200px; 
	overflow:auto;	
	border: solid 1px #000033;
	blackground-color: #EEEEEE;	
	
}

#linking{
	position: absolute; 
	bottom:10%; 
	left:;
	
}

@media screen and (max-width: 1100px){

	#containerNegro{
	
	display:none;
	
	}
	
}